.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.two-column {
  display: grid;
  gap: 1rem;

  @media (min-width: 520px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

