mat-dialog-content {
  min-width: 500px;
  max-width: 600px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full {
  width: 100%;
}

.inline-spinner {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

